# Application
APP_NAME=cops-api
APP_VERSION=0.0.1
APP_ENV=development

# Server
SERVER_PORT=8080
SERVER_READ_TIMEOUT=30s
SERVER_WRITE_TIMEOUT=30s
SERVER_SHUTDOWN_TIMEOUT=30s

# Logging
LOGGING_LEVEL=info
LOGGING_FORMAT=json

# MongoDB (default for non-Docker)
MONGODB_URI=your-mongodb-uri
MONGODB_DATABASE=cops
