# Daemon environment variables
COPS_APP_ENV=development
COPS_LOG_LEVEL=debug
COPS_API_URL=http://localhost:8080

# Path Configuration
# Base directory for global configuration (~/.cops)
COPS_BASE_DIR=.cops-dev/global
# Local configuration directory name (.cops)
COPS_LOCAL_CONFIG_DIR=.cops-dev/local